POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=biblioteca_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MONGO_URI=mongodb://localhost:27017
MONGO_DB=biblioteca_mongo
FAKER_LOCALE=es_CO
EXCEL_PATH=data/biblioteca.xlsx
TOTAL_RECORDS=250
