# Entorno Virtual
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Variables de Entorno (Sensible)
.env

# Logs del Framework
logs/*.log
*.log

# VS Code
.vscode/

# Bases de Datos (Datos locales si se mapean a carpetas)
pgdata/
mongodata/

# Sistema Operativo
.DS_Store
Thumbs.db

